<form>
  <div class="form-group">
    <label>First Name</label>
    <input type="name" class="form-control" id="first-name" placeholder="First Name" ng-model="user.FirstName">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="name" class="form-control" id="last-name" placeholder="Last Name" ng-model="user.LastName">
  </div>
  <div class="form-group">
    <label>Date of Birth</label>
    <input type="date" id="date-of-birth" name="input" ng-model="user.DateOfBirth"
       placeholder="yyyy-MM-dd" />
  </div>
  <div class="form-group">
    <label>Gender</label>
    <select class="form-control" id="gender" ng-model="user.Gender" ng-init="user.Gender=Gender">
      <option>Female</option>
      <option>Male</option>
    </select>
  </div>
  <div class="form-group">
    <label for="notes">Notes</label>
      
      <table class="table table-condensed notes-list">
        <tr ng-repeat="n in notesList">
            <td>
            <a ng-click="showDetails($index)">{{n.Title}}</a>
            </td>
            <td>
            <button id="delete" class="notes-btn btn btn-warning" ng-click="deleteNotes(n._id)">
                <i class="fa fa-times" aria-hidden="true"></i>
                remove
            </button>
            </td>
        </tr>
      </table>
      <div id="note-details" ng-class="class">
        {{notesDetails}}
          <button ng-class="class" ng-click="closeDetails()">close</button>
      </div>
      <div ng-show="createPatient == false">
        <textarea class="form-control" id="notesTextarea" rows="3" ng-model="userNotes.Notes"></textarea>
        <button class="btn btn-success" ng-click="addNotes()">add new notes</button>
      </div>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="submitForm()">Submit</button>
<button class="btn btn-primary" ng-click="close($event)">Cancel</button>

</form>